@font-face {
  font-family: "Circular";
  src: url("./Fonts/Circular_Air-Light.ttf") format("truetype"),
    url("./Fonts/Circular_Air-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Circular";
  src: url("./Fonts/Circular_Air-Book.ttf") format("truetype"),
    url("./Fonts/Circular_Air-Book.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Circular";
  src: url("./Fonts/Circular_Air-Bold.ttf") format("truetype"),
    url("./Fonts/Circular_Air-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  font-family: "Circular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding-top: 76px;
}

@media only screen and (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}

a {
  text-decoration: none;
}
